<form method="post" action="{{ path('app_recup_child_delete', {'id': recup_child.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recup_child.id) }}">
    <button class="btn">Delete</button>
</form>
