{% extends 'base.html.twig' %}

{% block title %}Edit RecupChild{% endblock %}

{% block body %}

    <section id="addchild" class="form recupChild">
		<div class="wrap">
			<div class="info">
				<h1>Personne de confiance</h1>


   {{ include('recup_child/_form.html.twig', {'button_label': 'Modifier'}) }}


				<div class="img">
					<a href="{{ path('app_recup_child_index') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
				</div>
{% endblock %}
