{% extends 'base.html.twig' %}

{% block title %}New RecupChild{% endblock %}

{% block body %}
    <section id="recupChild" class="form">
        <div class="wrap">
            <h1>Personne de confiance</h1>



            {{ include('recup_child/_form.html.twig') }}

            <a href="{{ path('app_recup_child_index') }}">Retour</a>
            </div>
        </div>
    </section>

{% endblock %}
