{% extends 'base.html.twig' %}

{% block title %}Connexion - Pitchoune
{% endblock %}

{% block body %}

	{% if app.user %}
		{% set redirectToApp = path('app') %}
		<script>
			window.location.href = "{{ redirectToApp }}";
		</script>
	{% endif %}

    
	<section id="login" class="form">
		<div class="wrap">
			<div class="top">
				<h1>connexion</h1>
				<p>Vous devez vous connecter pour continuer
				</p>
			</div>
			<div class="down">
				<form method="post">


					<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" autofocus placeholder="Email">
					<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder="Password">

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}


					<button class="btn btn-lg btn-primary" type="submit">
						connexion
					</button>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
