{% extends 'base.html.twig' %}

{% block title %}FAQ - Pitchoune{% endblock %}

{% block body %}
     <section id="faq">
          <div class="wrap">
               <h2>Questions Fréquentes</h2>

               <details>
                    <summary><h3><i class="fa-solid fa-caret-down"></i> Comment puis-je m'inscrire sur Pitchoune ? </h3><hr></summary>
                    <p>Vous pouvez vous inscrire sur Pitchoune en cliquant sur le bouton "Inscription" en haut à droite de la page d'accueil. Remplissez le formulaire d'inscription et suivez les étapes pour créer votre compte.</p>
               </details>

               <details>
                    <summary><h3><i class="fa-solid fa-caret-down"></i> Comment puis-je réserver une garde d'enfants ?</h3> <hr></summary>
                    <p>Pour réserver une garde d'enfants sur Pitchoune, connectez-vous à votre compte, accédez à la section "Services", choisissez le type de service souhaité, sélectionnez la date et l'heure de la garde, puis suivez les instructions pour finaliser votre réservation.</p>
               </details>

               <details>
                    <summary><h3><i class="fa-solid fa-caret-down"></i> Quels sont les modes de paiement acceptés sur Pitchoune ?</h3> <hr></summary>
                    <p>Nous acceptons les paiements par carte bancaire (Visa, Mastercard) ainsi que les paiements en ligne sécurisés via PayPal.</p>
               </details>

               <details>
                    <summary><h3><i class="fa-solid fa-caret-down"></i> Comment puis-je annuler une réservation ?</h3> <hr></summary>
                    <p>Vous pouvez annuler une réservation en vous connectant à votre compte, en accédant à la section "Mes réservations", en sélectionnant la réservation que vous souhaitez annuler, puis en suivant les instructions pour annuler la réservation.</p>
               </details>

               <details>
                    <summary><h3><i class="fa-solid fa-caret-down"></i> Comment contacter le service client de Pitchoune ?</h3> <hr></summary>
                    <p>Vous pouvez contacter notre service clientèle par e-mail à l'adresse suivante : contact@pitchoune.com. Nous sommes également disponibles par téléphone au +33 123 456 789 du lundi au vendredi de 9h à 18h.</p>
               </details>

               <p>Si vous ne trouvez pas de réponse à votre question, n'hésitez pas à nous contacter pour obtenir de l'aide supplémentaire.</p>
          </div>
     </section>
{% endblock %}
