{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<section id="register_choix">
		<div class="wrap">
        <div class="top">
	<h2>S'inscrire en tant qu’utilisateur</h2>
    <a href="">CONTINUER</a>
    </div>
    <div class="midel">
    <p class="choix" >Ou...</p>
    </div>
    <div class="down">
    <h2>S'inscrire en tant que PROFESSIONNEL</h2>
    <a href="">CONTINUER</a>
    </div>

        </div>
	</section>



{% endblock %}
