{% extends 'base.html.twig' %}

{% block title %}demande

{% endblock %}

{% block body %}

	<section id="demande">
		<div class="wrap">
			<div class="link">
            <div class="top">
				<a class="demande" href="{{ path('app_pro_demande') }}">Nouvelle demande</a>
				<a class="message" href="{{ path('app_pro_message') }}">Voir mes message</a>
                </div>
                <div class="down">
				<a class="detail" href="{{ path('app_pro_detail') }}">Détail creche</a>
				<a class="info" href="{{ path('app_pro_info') }}">Mes infos</a>
                </div>
			</div>
            <div class="creneaux">
            <h2>Mes demandes :</h2>
            </div>
		</div>
	</section>

{% endblock %}
