@use "../variables" as v;

#addchild {

  .namesurname {
    display: flex;
    gap: 1rem;
  }

  .agegenre {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .age{
      width: 150px;
    }
    
  }
}
