@use "../variables" as v;

#user {
  select {
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px #c0c0c0;
    width: 100%;
  }
  .select {
    padding-top: 1rem;
  }
  .link {
    padding-top: 0rem;
  }
}
