@use "../variables" as v;


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#payment-form {

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#order-summary {
  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.2rem;

  }
}

#payment-form {
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
}