{% extends 'base.html.twig' %}

{% block title %}Edit ProTime{% endblock %}

{% block body %}
    <h1>Edit ProTime</h1>

    {{ include('pro_time/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pro_time_index') }}">back to list</a>

    {{ include('pro_time/_delete_form.html.twig') }}
{% endblock %}
