{% extends 'essai.html.twig' %}

{% block title %}Horaire
{% endblock %}

{% block body %}

	<section id="proTime" class="bouton">
		<div class="wrap">
			<div class="titre">
				<h1>Ajouter vos horaires</h1>
			</div>
			<div class="form">
				{{ include('pro_time/_form.html.twig') }}
			</div>

			<div class="img">
				<a href="{{ path('app_pro') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>

		</div>
	</section>


{% endblock %}
