{% extends 'essai.html.twig' %}

{% block title %}New ProTime{% endblock %}

{% block body %}
    <h1>Create new ProTime</h1>

  

    
    {{ include('pro_time/_form.html.twig') }}

    <a href="{{ path('app_pro_time_index') }}">back to list</a>
{% endblock %}
