@use 'variables' as v;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

body {
    background-color: v.$background;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.wrap {
    max-width: 350px;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    display: block;
    font-weight: 800;
    color: v.$blanc;
    background-color: v.$primary;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: v.$secondary;
        color: v.$bleu;
    }
}

header {
    position: relative;
    max-width: 100%;

    nav.desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        padding: 30px 0;

        img {
            width: 205px;
        }

        .burger {
            transition: all 300ms ease-in-out;

            &:hover {
                transform: rotate(90deg);
            }
        }

        .logo {
            transition: all 300ms ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        .nav_list {
            display: none;
        }

        i {
            font-size: 35px;
            color: #000;
        }

    }




}

#burger-menu {
    display: block;
    position: fixed;
    background-color: #B3D8CD;
    height: 100vh;
    width: 70%;
    font-size: 1.2rem;
    top: 0;
    right: -550px;
    transition: right 1s ease-in-out;
    z-index: 50;
    text-align: center;

    .close-burger {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 30px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    hr {
        border: 2px solid #fff;
        width: 50%;
        margin: 0 auto;
    }

    a:nth-child(2) {
        background-color: v.$orange;
    }

    a.liste {
        color: #fff;
        font-weight: 800;
        font-size: 1.5rem;
    }


    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 70px 15px;
    }

}

.nav_button {
    padding: 20px 15px;
    margin: 0 10px;
}

#burger-menu.active {
    top: 0;
    right: 0;
}

footer {
    background-color: v.$orange;
    color: v.$blanc;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 35px 0;
    }
}

#btnTop {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 0;
    background-color: v.$orange;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: -1px 2px 3px #000;
    cursor: pointer;

    &:hover {
        color: v.$orange;
        background-color: v.$blanc;
        outline: solid 1px v.$orange;
    }
}

section#page403 {

    h1 {
        font-size: 3.5rem;
        color: v.$bleu;
    }

    .wrap {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }

    .button {
        display: block;
        margin: 1.2rem 0;
    }
}

section#single_pro_public .wrap .container_horaire {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;

        span {
            width: 45%;
            margin: 0 .7rem;
        }
    }


#map {
    width: 300px;
    height: 300px;
}

@media screen and (min-width: 500px) {
    .wrap {
        max-width: 450px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #burger-menu {
        right: -750px;
    }

    #map {
        width: 400px;
        height: 300px;
    }

    .container_info {
        width: 80%;
    }

    section#single_pro_public .wrap .container_horaire {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;

        span {
            width: 45%;
            margin: 0;
        }
    }
}

@media screen and (min-width: 750px) {

    .wrap {
        max-width: 700px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #map {
        width: 600px;
        height: 300px;
    }

    #burger-menu {
        right: -1050px;
    }


}
@media screen and (min-width: 1050px) {



    #burger-menu {
        right: -1350px;
    }


}