@use "variables" as v;

.recupChild {
  height: 80vh;
  text-align: center;
  .wrap {
    gap: 2rem;
    .recup {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
#recup_child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}