@use "variables" as v;

#register_choix {
    height: 80Vh;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
  }
  a {
    padding: 1.5rem;
    border-radius: 15px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: v.$blanc;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
 
  .choix {
    color: v.$primary;
    font-size: 24px;
    font-weight: bold;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    h2 {
      color: v.$primary;
    }

    a {
      background-color: v.$primary;
    }
 
  }
  .down {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    h2 {
      color: v.$orange;
    }

    a {
      background-color: v.$orange;
    }
  }
}
