@use "variables" as v;

#register_choix {
    height: 80Vh;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5rem;
  }
  h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
  }
  a {
    padding: 2rem;
    border-radius: 15px;
    display: block;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: v.$blanc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .choix {
    color: v.$primary;
    font-size: 50px;
    font-weight: bold;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2 {
      color: v.$primary;
    }

    a {
      background-color: v.$primary;
    }
  }
  .down {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2 {
      color: v.$orange;
    }

    a {
      background-color: v.$orange;
    }
  }
}
