{% extends 'base.html.twig' %}

{% block title %}Edit AddCreche{% endblock %}

{% block body %}
    <section id="addCreche" class="form">
        <div class="wrap">
            <h1>Demande de modification</h1>

            {{ include('add_creche/_form.html.twig', {'button_label': 'Demander'}) }}
            
            <div class="img">
                <a href="{{ path('app_pro') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
            </div>
        </div>
    </section>
{% endblock %}
