{% extends 'base.html.twig' %}

{% block title %}New AddCreche{% endblock %}

{% block body %}
    <section id="addCreche" class="form">
        <div class="wrap">
            <h1>concernant votre crèche</h1>
            <p>Une fois envoyée, votre demande sera soumise à vérification.<br>
                Celle-ci sera traitée dans les plus brefs délais.</p>
            {{ include('add_creche/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
