{% extends 'admin.html.twig' %}

{% block title %}Modifier l'utilisateur {{ user.nom }} - Pitchoune{% endblock %}

{% block body %}
    <section id="edituser" class="wrap">
        <h1>Modifier l'utilisateur</h1>

            {{ include('admin_user/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="wrapuser">

            <a class="edit" href="{{ path('app_admin_user_index') }}">Revenir à la liste</a>

            {{ include('admin_user/_delete_form.html.twig') }}
        </div>

    </section>

{% endblock %}
