{% extends 'base.html.twig' %}

{% block title %}FAQ - Pitchoune{% endblock %}

{% block body %}
     <section id="page403">
          <div class="wrap">
               <h1>Erreur</h1>
                         
               <div class="bouton">
			     <a class="button" href="{{ path('app') }}">Retour</a>
		     </div>
          </div>
     </section>
{% endblock %}
