{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <section id="pro">
        <div class="wrap">
            <div class="link">
                <div class="top">
                    <a  href="{{ path('app_pro_demande') }}">Prendre un rdv</a>
                    <a href="{{ path('app_pro_message') }}">Ajouter un pitchoune</a>
                </div>
                <div class="down">
                    <a href="{{ path('app_pro_detail') }}">Mes infos</a>
                    <a class="dashboard" href="{{ path('app_pro') }}">Ajouter un tuteur</a>
                </div>
            </div>
            <div class="creneaux">
                <h2>Vos créneaux :</h2>
            </div>
        </div>
    </section>

{% endblock %}
