{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}

    <section id="rdv">
        <h1> CHOISISSEZ VOTRE CRECHE:</h1>
        <div class="wrap">

            <div class="search-container">
                <input class="search" type="search" placeholder="Search...">
            </div>
        </div>
    </section>

{% endblock %}